# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Builds y compilados
dist/
build/
coverage/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
